/* =======================
   Grundinställningar
========================== */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* =======================
   Bakgrund
========================== */
body {
  background-image: url("../img/2020-studenten.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* =======================
   Header & Navigation
========================== */
header {
  background-color: rgb(105, 161, 240);
  padding: 1rem 0;
  color: #0a2742;
}

.ikonmeny {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.ikon {
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.ikon img {
  width: 50px;
  height: 50px;
}

/* =======================
   Huvudinnehåll
========================== */
main {
  flex: 1;
  padding: 20px;
  margin: 10px auto;
  width: 90%;
  max-width: 750px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: #0a2742;
}

/* =======================
   Box-länkar
========================== */
.box a {
  display: inline-block;
  padding: 10px 150px;
  font-size: 16px;
  color: white;
  background-color: #0025c9;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* =======================
   Footer
========================== */
footer {
  background-color: rgb(105, 164, 247);
  color: #0a2742;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}

/* =======================
   Responsiv Design
========================== */
@media (max-width: 600px) {
  .ikonmeny {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .ikon img {
    width: 40px;
    height: 40px;
  }

  .ikon {
    font-size: 14px;
  }

  main {
    width: 95%;
  }

  .box a {
    padding: 10px 30px;
    font-size: 14px;
  }

  .modal-content {
    width: 95%;
    padding: 20px;
    max-width: none;
  }

  .popup {
    right: 10px;
    left: 10px;
    bottom: 10px;
    width: auto;
  }

  .flex-container {
    flex-direction: column;
    padding: 10px;
  }

  .flex-item {
    width: 90%;
    font-size: 1.2em;
    padding: 20px;
  }

  .modal-option {
    font-size: 1em;
  }
}